#navbar {
    color: black;
}

.title {
    margin-left: 5%;
}
.email {
    position: relative;
    margin-top: .5em;
    margin-bottom: 0em;
    margin-left: 47%;
    margin-right: auto;  
    color: black;  
}
.materialboxed {
    float: left;
    border-radius: 2em;
    margin-left: 3.3em;
    border: solid 2px darkgray;
}
.lake {
    margin-top: 1em;
}
.team {
    position: relative;
}
#solo {
    display: inline-block;
    margin-top: 2em;
    margin-left: 2.5%;
    padding: 2em;
    border: solid 2px darkgrey;
    border-radius: 2em;
    height: 70%;
    width: 30%;
}
#text {
    position: absolute;
    margin-top: 17em;
    margin-left: 5%;
    font-family: Verdana;
}
#about {
    float: left;
    width: 60%;
    margin-left: 3em;
    margin-top: 6em;
    font-family: Verdana;
    font-size: 1em;
}
#aboutcontainer {
    margin-top: 8em;

}