 <div id="aboutcontainer">
    <img class="materialboxed lake z-depth-2" width="300" src="views/images/lake.jpg">
    <div id="about">
        <p>ohmbru is a web development company specializing in web and mobile apps.  We pride ourselves on our ability, not only to listen to our clients’ needs, but to also offer suggestions that remain true to our clients’ mission.  ohmbru  utilizes each team members knowledge on front-end design as well as back-end functionality.</p>  

        <p>The concept of Ohmbru was born at Innovation Depot after many weeks of web development for Depot/U.  The team members landed on the name by incorporating aspects of their local community. </p>
    </div>
 </div>

<script>
$(document).ready(function(){
    $('.materialboxed').materialbox();
});
</script>