<!--<h1 class="title">ohmbru inc.</h1>-->


<div class="slider">
    <ul class="slides">
      <li>
        <img src="views/images/vulcan.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Personalized web development</h3>
          <h5 class="light grey-text text-lighten-3">Community is in our fabric</h5>
        </div>
      </li>
      <li>
        <img src="views/images/windows.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Design creates Perspective!</h3>
          <h5 class="light grey-text text-lighten-3">We help companies deliver their stories</h5>
        </div>
      </li>
      <li>
        <img src="views/images/rrpark.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Growth is always within reach!</h3>
          <h5 class="light grey-text text-lighten-3">A strong web prescence is essential</h5>
        </div>
      </li>
      <li>
        <img src="views/images/sloss.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Dedication to each client!</h3>
          <h5 class="light grey-text text-lighten-3">Our world is made of individuals</h5>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="contact">
  <a id="title" href="mailto:jessepayne@gmail.com?Subject=Saying%20Hello" target="_top"><i class="large material-icons email">email</i></a>
</div>

  <script>
        $(document).ready(function(){
         $('.slider').slider({full_width: true});
        });
  </script>