<div class="team">
    <div id="solo" class="z-depth-2">
        <img class="materialboxed z-depth-2" width="70%" src="views/images/jeff.jpg">
        <div id="text">
            <p>Jeff Linn</p>
            <p>Full Stack Web Developer</p>
        </div>
    </div>
    <div id="solo" class="z-depth-2">
        <img class="materialboxed z-depth-2" width="70%" src="views/images/depotu-cp.jpg">
        <div id="text">
            <p>Camille Parks</p>
            <p>Full Stack Web Developer</p>
        </div>
    </div>
    <div id="solo" class="z-depth-2">
        <img class="materialboxed z-depth-2" width="70%" src="views/images/jp.jpg">
        <div id="text">
            <p>Jesse Payne</p>
            <p>Full Stack Web Developer</p>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('.materialboxed').materialbox();
});
</script>